html,
body {
    /* probably unecessary, transitional until layout is refactored */
    height: 100%;
    width: 100%;
    margin: 0;
}

.app {
    width: 100%; 
    height: 94.5%;
    transform: translateY(6%);
    /* Setting min height/width makes the UI scroll below those sizes */
    min-width: 924px;
    min-height: 640px; /* Min height to fit sprite/backdrop button */
}

/* @todo: move globally? Safe / side FX, for blocks particularly? */
* { box-sizing: border-box; }
